<nav class="navbar-fixed-top">

  <div class="container-fluid navbar-background">
    
    <div class="nav-header">

      <a popover-popup-delay="1000" popover-placement="bottom" popover="Home" popover-trigger="mouseenter" class="hidden-xs navbar-logo" href="/#/">RecipeDB.me</a>
      <a popover-popup-delay="1000" popover-placement="bottom" popover="Home" popover-trigger="mouseenter" class="hidden-sm hidden-md hidden-lg hidden-xl navbar-logo" href="/#/"><i class="fa fa-home"></i></a>
      
      <form class="nav-form" role="search">
        <div class="form-group">
          <input id="nav-search" type="text" class="form-control" placeholder="Search...">
        </div>
        <!-- <button type="submit" class="btn btn-default">Submit</button> -->
      </form>

      <div class="nav-icons">
        
        <a ng-if="!user.status" data-toggle="dropdown" href="" role="button">
          <div class="nav-icon-text hidden-xs dropdown-toggle" popover-popup-delay="1000" popover-placement="bottom" popover="Profile" popover-trigger="mouseenter">
            <i class="fa fa-user">
              <p>
               Account
              </p>
            </i>
            <span class="caret pull-right">
            </span>
          </div>
        </a>
        <a ng-if="user.status" href="" data-toggle="dropdown" role="button">
          <div class="nav-icon-text hidden-xs dropdown-toggle" popover-popup-delay="1000" popover-placement="bottom" popover="Profile" popover-trigger="mouseenter">
            <i class="fa fa-user">
              <p>
              {{ user.username }}
              </p>
            </i>
            <span class="caret">
            </span>
          </div>
        </a>
        <a href="" data-toggle="dropdown" role="button">
          <div class="nav-icon-text visible-xs dropdown-toggle" popover-popup-delay="1000" popover-placement="bottom" popover="Profile" popover-trigger="mouseenter">
            <i class="fa fa-user" style="font-size: 28px;">
            </i>
            <span class="caret">
            </span>
          </div>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li ng-if="!user.status"><a href="" ng-controller="RegModalCtrl" ng-click="open('sm')">Sign Up</a></li>
          <li ng-if="!user.status"><a href="" ng-controller="LoginModalCtrl" ng-click="open('sm')">Login</a></li>
          <li ng-if="user.status"><a href="">Edit Profile</a></li>
          <li ng-if="user.status"><a ng-controller="UserCtrl" ng-click="userSignOut()"href="">Logout</a></li>
        </ul>

        <!-- <a href="">
          <i popover-popup-delay="1000" popover-placement="bottom" popover="Shopping List" popover-trigger="mouseenter" class="fa fa-shopping-cart"></i>
        </a> -->

        <a href="/#/myrecipes">
          <div class="nav-icon-text hidden-sm hidden-md hidden-lg hidden-xl">
            <i popover-popup-delay="1000" popover-placement="bottom" popover="My Recipes" popover-trigger="mouseenter" class="fa fa-heart" style="font-size: 28px;">
            </i>
          </div>
          <div class="nav-icon-text hidden-xs">
            <i popover-popup-delay="1000" popover-placement="bottom" popover="My Recipes" popover-trigger="mouseenter" class="fa fa-heart">  <p>
                MyRecipes
              </p>
            </i>
          </div>
        </a>

        <a href="/#/search">
          <div class="nav-icon-text hidden-sm hidden-md hidden-lg hidden-xl">
            <i popover-popup-delay="1000" popover-placement="bottom" popover="Recipe Finder" popover-trigger="mouseenter" class="fa fa-sliders" style="font-size: 28px;">
            </i>
          </div>
          <div class="nav-icon-text hidden-xs">
            <i popover-popup-delay="1000" popover-placement="bottom" popover="Recipe Finder" popover-trigger="mouseenter" class="fa fa-sliders">
              <p>
               Recipe Finder
              </p>
            </i>
          </div>
        </a>

      </div>

    </div>

  </div>

</nav>



