<main-nav-bar></main-nav-bar>

<div class="main-body container">
  <!-- <div class="row"> -->
  <form class="create-recipe-form">
    <div class="form-group">
      <div class="form-title">
        Create and add your own recipes
      </div>
    </div>

    <div class="form-group">
      <div class="create-title">
        <!-- <label for="exampleInputEmail1">Email address
        </label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email"> -->
        <label for="recipeTitleName">Recipe Name:</label>
        <input type="text" class="form-control create-title-input" placeholder="What is your dish called?">
      </div>
    </div>

    <div class="form-group">
      <div class="create-description">
        <!-- <label for="exampleInputEmail1">Email address
        </label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email"> -->
        <label for="recipeDescription">Description:</label>
        <input type="text" class="form-control create-description-input" placeholder="Describe your dish...">
      </div>
    </div>

    <div class="form-group">
      <label for="Ingredients">Add Ingredients</label>
      <div class="row">
        <div class="col-xs-2">
          <input ng-model="addIngredNumber" type="text" class="form-control input-sm" placeholder="#">
        </div>
        <div class="col-xs-3">
          <select ng-model="addIngredUnit" class="form-control input-sm">
            <option val="0"></option>
            <option ng-repeat="measurment in measurements">  {{ measurment }}
            </option>
          </select>
        </div>
        <div class="col-xs-5">
          <input ng-model="addIngredName" type="text" class="form-control input-sm" placeholder="Ingredient">
        </div>
        <button type="submit" class="btn btn-warning col-xs-1">+
        </button>
      </div>
      <table class="added-ingredients table">
        <tbody>
          <tr class="added-ingredient">
            <td class="col-xs-2"></td>
            <td class="col-xs-1">-</td>
            <td class="col-xs-1">1</td>
            <td class="col-xs-2">gram(s)</td>
            <td class="col-xs-6">cocaine</td>
          </tr>
          <!-- <tr class="added-ingredient">
            <td class="col-xs-2"></td>
            <td class="col-xs-1">-</td>
            <td class="col-xs-1">1</td>
            <td class="col-xs-2">gram(s)</td>
            <td class="col-xs-6">cocaine</td>
          </tr> -->
        </tbody>
      </table>
    </div>

    <div class="form-group create-timeframe">
      <div class="col-xs-4">
        <label>Preparation Time:</label>
        <div class="row">
          <!-- <div class="col-xs-3">
            <p>Hours</p>
            <select class="input-sm">
              <option ng-repeat="hour in hours">{{ hour }}</option>
            </select>
          </div>
          <div class="col-xs-offset-1 col-xs-3">
            <p>Minutes</p>
            <select class="input-sm">
              <option ng-repeat="minute in minutes">{{ minute }}</option>
            </select>
          </div> -->
          <div class="col-xs-6">
            <div id="slider"></div>
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <label>Cooking Time:</label>
        <div class="row">
          <div class="col-xs-3">
            <p>Hours</p>
            <select class="input-sm">
              <option ng-repeat="hour in hours">{{ hour }}</option>
            </select>
          </div>
          <div class="col-xs-offset-1 col-xs-3">
            <p>Minutes</p>
            <select class="input-sm">
              <option ng-repeat="minute in minutes">{{ minute }}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <label>Rest Time:</label>
        <div class="row">
          <div class="col-xs-3">
            <p>Hours</p>
            <select class="input-sm">
              <option ng-repeat="hour in hours">{{ hour }}</option>
            </select>
          </div>
          <div class="col-xs-offset-1 col-xs-3">
            <p>Minutes</p>
            <select class="input-sm">
              <option ng-repeat="minute in minutes">{{ minute }}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row collected-ingredients">
        <div ng-repeat="ingredient in ingredients">
          <div class="col-xs-4">{{ ingredient }}</div>
          <div class="col-xs-4">{{ ingredient }}</div>
          <div class="col-xs-4">{{ ingredient }}</div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="create-instructions">
        <!-- <label for="exampleInputEmail1">Email address
        </label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email"> -->
        <label for="recipeInstructions">Instruction:</label>
        <div class="row">
          <div class="col-xs-10">
            <input type="text" class="form-control create-instruction-input" placeholder="Next Step....">
          </div>
          <div class="btn btn-warning col-xs-1">+
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="recipeImageFile">Image upload</label>
      <input type="file" id="recipeImageFile">
      <p class="help-block">Upload a photo of your dish</p>
    </div>

    <button type="submit" class="submit-create-button btn btn-default">Submit</button>

  </form>
  <!-- </div> -->
</div>

<main-footer></main-footer>
