<main-nav-bar></main-nav-bar>

<div class="main-body container">
  <!-- <div class="row"> -->
  <div class="create-recipe-form">
    <form class="form-group">
      <div class="form-title">
        Create and add your own recipes
      </div>
    </form>

    <form class="form-group">
      <div class="create-title">
        <label for="recipeTitleName">Recipe Name:</label>
        <input ng-model="createTitle" type="text" class="form-control create-title-input" placeholder="What is your dish called?">
      </div>
    </form>

    <form class="form-group">
      <div class="create-description">
        <label for="recipeDescription">Description:</label>
        <input ng-model="createDescription" type="text" class="form-control create-description-input" placeholder="Describe your dish...">
      </div>
    </form>

    <form class="form-group create-ingredients">
      <label for="Ingredients">Add Ingredients:</label>
      <div class="row">
        <div class="col-xs-2">
          <input ng-model="addIngredNumber" type="text" class="form-control input-sm" placeholder="#">
        </div>
        <div class="col-xs-3">
          <select ng-model="addIngredUnit" class="form-control input-sm">
            <option val="0"></option>
            <option ng-repeat="measurment in measurements">  {{ measurment }}
            </option>
          </select>
        </div>
        <div class="col-xs-5">
          <input ng-model="addIngredName" type="text" class="form-control input-sm" placeholder="Ingredient">
        </div>
        <button ng-click="newIngredient()" type="submit" class="create-add-to-list btn btn-warning col-xs-1">+
        </button>
      </div>
      <table class="added-ingredients table">
        <tbody>
          <tr ng-repeat="ingredient in create_parameters.all_ingredients track by $index" class="added-ingredient">
            <td class="col-xs-2">{{ ingredient.amount }}</td>
            <td class="col-xs-3">{{ ingredient.unit }}</td>
            <td class="col-xs-6">{{ ingredient.name }}</td>
            <td class="col-xs-6"><button class="remove-ingredient-button" ng-click="removeIngredient($index)" ><i class="fa fa-remove"></i></button></td>
          </tr>
        </tbody>
      </table>
    </form>

    <form class="form-group create-timeframe">
      <div class="create-prep-time col-xs-4">
        <label>Preparation Time:</label>
        <div class="row">
          <div class="col-xs-12">
            <input class="create-prep-time" type="text" id="prep-time-amount" readonly style="border:0">
            <div id="prep-time-slider"></div>
          </div>
        </div>
      </div>
      <div class="create-cook-time col-xs-4">
        <label>Cooking Time:</label>
        <div class="row">
          <div class="col-xs-12">
            <input class="create-cook-time" type="text" id="cook-time-amount" readonly style="border:0">
            <div id="cook-time-slider"></div>
          </div>
        </div>
      </div>
      <div class="create-rest-time col-xs-4">
        <label>Rest Time:</label>
        <div class="row">
          <div class="col-xs-12">
            <input class="create-rest-time" type="text" id="rest-time-amount" readonly style="border:0">
            <div id="rest-time-slider"></div>
          </div>
        </div>
      </div>
    </form>

    <form class="form-group create-instructions">
      <label for="Instructions">Add Instructions:</label>
      <div class="row">
        <div class="col-xs-10">
          <input ng-model="addInstruction" type="text" class="form-control input-sm create-instruction-input" placeholder="Next Step....">
        </div>
        <button ng-click="newInstruction()" type="submit" class="create-add-to-list btn btn-warning col-xs-1">+
        </button>
      </div>
      <ul class="added-instructions">
        <li ng-repeat="instruction in create_parameters.all_instructions track by $index" class="added-instruction col-xs-11">
          {{ instruction }}
          <button class="remove-instruction-button pull-right" ng-click="removeInstruction($index)" >
            <i class="fa fa-remove">
            </i>
          </button>
        </li>
      </ul>
    </form>

    <form class="form-group">
      <div class="create-image-div">
        <label for="recipeImageFile">Image upload</label>
        <input type="file" id="recipeImageFile">
        <p class="help-block">Upload a photo of your dish</p>
      </div>
    </form>

    <button type="submit" class="submit-create-button btn btn-default form-control">Submit</button>

  </div>
  <!-- </div> -->
</div>

<main-footer></main-footer>
