<main-nav-bar></main-nav-bar>

<div class="main-body container-fluid">


  <div class="jumbo row">
    <div class="col-xs-12">
      <div class="splash-animate" ng-repeat="image in recipeImages1">
        <img class="splash-item img-responsive col-xs-2 col-sm-1" ng-src="{{ image }}">
      </div>
    </div>
  </div>
  <div class="home-links">
    <div class="row">
      <form class="search-wrapper col-xs-12" ng-submit="submitSearch()">
        <input class="input-lg recipe-search col-xs-10 col-sm-11 col-md-offset-1 col-md-9 col-lg-offset-2 col-lg-7" placeholder="Enter Name of Recipe Here" ng-model="keyword">
        <button class="btn btn-default col-xs-2 col-sm-1"><i class="fa fa-search"></i></button>
      </form>
    </div>
    <div class="other-links-separator row"><p class="col-xs-12"> - or -</p></div>
    <div class="row home-other-links">
      <div class="col-xs-5 col-sm-offset-1 col-sm-4 col-md-offset-2 col-md-3 other-links-buttons">
        <a href="/#/search" ><button class="col-xs-12 btn btn-default home-recipe-finder">Advanced Search <i class="fa fa-search"></i></button></a>
      </div>
      <div class="col-xs-offset-2 col-xs-5 col-sm-offset-2 col-sm-4 col-md-offset-2 col-md-3 other-links-buttons">
        <a href="/#/myrecipes/{{user.userID}}" ><button class="col-xs-12 btn btn-default home-myrecipes"><i class="fa fa-heart"></i> My Recipes</button></a>
      </div>
    </div>
  </div>
</div>

<main-footer></main-footer>