<main-nav-bar></main-nav-bar>

<div class="main-body container-fluid">


  <div class="jumbo row">
    <div class="col-xs-12">
      <div ng-repeat="image in recipeImages" ng-animate=" 'animate' ">
        <img class="splash-item img-responsive col-xs-2 col-sm-1" ng-src="{{ image }}">
      </div>
    </div>
  </div>
  <div class="row">
    <form class="search-wrapper col-xs-12">
      <input class="input-lg recipe-search col-xs-11" placeholder="What do you want to cook?">
      <button class="btn btn-default col-xs-1"><i class="fa fa-search"></i></button>
    </form>
  </div>
</div>

<main-footer></main-footer>