<main-nav-bar></main-nav-bar>

<div class="main-body">
  <div class="recipe-finder-body container-fluid">

    <div class="row">
      <div class="recipe-finder-title">Recipe Finder</div>
    </div>

    <div class="row">
      <div class="filter-tags col-xs-12">
        <div class="filter-tags-heading">Searched tags:</div>
        <div class="filter-tag">Chicken <i class="fa fa-times"></i></div>
        <div class="filter-tag">Peas <i class="fa fa-times"></i></div>
      </div>
    </div>

    <div class="row">
      <!-- the whole filter section -->
      <div class="filter col-xs-12 col-sm-7">

        <!-- keyword search -->
        <div class="filter-keyword-wrapper row">
          <input type="text" class="filter-keyword-search col-xs-offset-1 col-xs-10" placeholder="Search Ingredients">
        </div>

        <!-- filter by meals -->
        <div class="filter-meals-wrapper row">
          <div class="filter-meals-heading col-xs-12 col-md-3">
              Meal:
          </div>
          <div class="filter-meals-selection col-xs-12 col-md-9">
            <div class="row row-condensed">
              <div class="col-xs-4">
                <label class="filter-meals-select">
                  Breakfast <input class="filter-meals-checkbox" type="checkbox">
                </label>
              </div>
              <div class="col-xs-4">
                <label class="filter-meals-select">
                  Lunch <input class="filter-meals-checkbox" type="checkbox">
                </label>
              </div>
              <div class="col-xs-4">
                <label class="filter-meals-select">
                  Dinner <input class="filter-meals-checkbox" type="checkbox">
                </label>
              </div>
            </div>
          </div>
        </div>

        <!-- filter by time -->
        <div class="filter-time-wrapper row">
          <div class="filter-time-heading col-xs-12 col-md-3">
            Timeframe:
          </div>
          <div class="filter-time-scroll col-xs-12 col-md-9">

          </div>
        </div>

        <!-- filter by cuisine -->
        <div class="filter-cuisine-wrapper row">
          <div class="filter-cuisine-heading col-xs-12 col-md-3">Cuisine:
          </div>
          <div class="filter-cuisine-selection col-xs-12 col-md-9">
            <div class="row row-condensed">
              <div class="col-xs-4">
                <label class="filter-cuisine-select">
                  Chinese <input class="filter-cuisine-checkbox" type="checkbox">
                </label>
              </div>
              <div class="col-xs-3">
                <label class="filter-cuisine-select">
                  Italian <input class="filter-cuisine-checkbox" type="checkbox">
                </label>
              </div>
              <div class="col-xs-4">
                <label class="filter-cuisine-select">
                  French <input class="filter-cuisine-checkbox" type="checkbox">
                </label>
              </div>
              <div class="col-xs-1">
                <button class="filter-cuisine-button btn btn-default" ng-click="cuisineCollapsed = !cuisineCollapsed"><i class="pull-up glyphicon" ng-class="{'glyphicon-chevron-down': cuisineCollapsed, 'glyphicon-chevron-up': !cuisineCollapsed}"></i></button>
              </div>
                <hr>
                <div collapse="cuisineCollapsed">
                  <div class="well well-lg">
                    
                  </div> 
                </div>
            </div>
          </div>
        </div>

        <!-- filter by course -->
        <div class="filter-course-wrapper row">
          <div class="filter-course-heading col-xs-12 col-md-3">Course:
          </div>
          <div class="filter-course-selection col-xs-12 col-md-9">
            <div class="row row-condensed">
              <div class="col-xs-4">
                <label class="filter-course-select">
                  Appetizers <input class="filter-course-checkbox" type="checkbox">
                </label>
              </div>
              <div class="col-xs-3">
                <label class="filter-course-select">
                  Mains <input class="filter-course-checkbox" type="checkbox">
                </label>
              </div>
              <div class="col-xs-4">
                <label class="filter-course-select">
                  Desserts <input class="filter-course-checkbox" type="checkbox">
                </label>
              </div>
              <div class="col-xs-1">
                <button class="filter-course-button btn btn-default" ng-click="courseCollapsed = !courseCollapsed"><i class="pull-up glyphicon" ng-class="{'glyphicon-chevron-down': courseCollapsed, 'glyphicon-chevron-up': !courseCollapsed}"></i></button>
              </div>
                <hr>
                <div collapse="courseCollapsed">
                  <div class="well well-lg">
                    
                  </div> 
                </div>
            </div>
          </div>
        </div>

      
      <!-- more options filter -->
      <!-- <div class="filter-more-options row">
        <button class="filter-more-options-button btn btn-warning btn-sm" ng-click="cuisineCollapsed = true">Show All Options</button>
      </div> -->

    </div>
        <!-- <i class="fa fa-angle-double-down"></i> -->

    <!-- search results -->
    <div class="filter-results col-xs-12 col-sm-5">
      <div ng-repeat="recipe in recipes" class="filter-result">
        <a href="/#/recipes/{{ recipe.id }}"><img class="filter-result-image" src="{{ recipe.images[0] }}"></a>
        <div class="filter-result-info">
          <a href="/#/recipes/{{ recipe.id }}"><p class="filter-result-title">{{ recipe.title }}</p></a>
          <p class="filter-result-author">By {{ recipe.author }}</p>
          <i class="fa fa-bookmark-o"></i>
        </div>
      </div>
    </div>
  
  </div>
</div>

<main-footer></main-footer>