<main-nav-bar></main-nav-bar>

<div class="main-body">
  <div class="recipe-body container">
    <div class="row">
      <!-- <div class="recipe-image col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-6 col-md-5"> -->
      <div class="recipe-button-row row">
        <div class="col-xs-6 recipe-back-button">
          <a href="/#/search"><button class="col-xs-12 btn btn-danger">Back <i class="fa fa-step-backward"></i></button></a>
        </div>
        <div class="col-xs-6 recipe-back-button">
          <button class="col-xs-12 btn btn-warning">Save <i class="fa fa-heart"></i></button>
        </div>
        <!-- <div class="col-xs-4 recipe-back-button">
          <button class="col-xs-12 btn btn-success">Shopping <i class="fa fa-shopping-cart"></i></button>
        </div> -->
      </div>
      <div class="recipe-profile col-xs-12 col-sm-4">
        <img ng-if="recipe.images.length == 0" class="image-responsive recipe-default-image" ng-src="{{ defaultImg }}" alt="Recipe image">
        <img ng-if="recipe.images.length < 6" ng-repeat="image in recipe.images" class="image-responsive recipe-less-image" ng-src="{{ image }}" alt="Recipe image">
        <img ng-if="recipe.images.length > 5" ng-repeat="image in recipe.images" class="image-responsive recipe-more-image" ng-src="{{ image }}" alt="Recipe image">
      </div>
      <div class="recipe-info col-xs-12 col-sm-8">
        <div class="recipe-div1 row">
          <p class="recipe-title">{{ recipe.title }}</p>
          <p ng-if="recipe.author.display_format == 0" class="recipe-author">By <a href="/user/{{recipe.author.profile_url}}"><strong class="recipe-author-name">{{ recipe.author.username }}</strong></a></p>
          <p ng-if="recipe.author.display_format == 1" class="recipe-author">By <a href="{{recipe.author.profile_url}}"><strong class="recipe-author-name">{{ recipe.author.username }}</strong></a></p>
          <p ng-if="recipe.author.display_format == 2" class="recipe-author">By <a href="{{recipe.author.profile_url}}"><strong class="recipe-author-name">{{ recipe.author.full_name }}</strong></a></p>
          <p ng-if="recipe.author.display_format == 3" class="recipe-author">By <a href="{{recipe.author.profile_url}}"><strong class="recipe-author-name">{{ recipe.author.site_name }}</strong></a></p>
        </div>
        <div class="recipe-div2 row">
          <p class="recipe-description-heading">Description:</p>
          <p class="recipe-description">{{ recipe.description }}</p>
          <p class="recipe-servings">Makes <strong>{{ recipe.serving_size }}</strong> {{ recipe.serving_type }}</p>
        </div>
        <div class="recipe-div3 row">
          <p class="recipe-ingredients">Ingredients
            <div class="recipe-ingredients-all">
              <p ng-repeat="ingredient in recipe.ingredients" class="recipe-ingredient">{{ ingredient.amountUS }} {{ ingredient.unitUS }} {{ ingredient.name }}</p>
            </div>
          </p>
        </div>
        <div class="recipe-div4 row">
          <div class="recipe-preptime-heading col-xs-3">Preparation:<br>
            <p class="recipe-preptime"> {{ recipe.prep_time }}</p> mins
          </div>

          <div class="recipe-cooktime-heading col-xs-3">Cooking:<br> 
            <p class="recipe-cooktime"> {{ recipe.cook_time }}</p> mins
          </div>

          <div class="recipe-resttime-heading col-xs-3">Rest:<br>
            <p class="recipe-resttime">{{ recipe.rest_time }}</p> mins
          </div>

          <div class="recipe-resttime-heading col-xs-3">Total:<br>
            <p class="recipe-resttime">{{ recipe.ready_time }}</p> mins
          </div>
        </div>

        <div class="recipe-div5 row">
          <p class="recipe-directions">Directions
            <ul>
              <li ng-repeat="instruction in recipe.instructions" class="recipe-step">{{ instruction }}</li>
            </ul>
          </p>
          <button ng-model="notyTest()">M</button>
        </div>
      </div>
    </div>
  </div>
</div>

<main-footer></main-footer>