<main-nav-bar></main-nav-bar>


<div class="main-body">
  <div class="recipe-finder-body container-fluid">
    <div class="row">
      <!-- <div class="recipe-finder-title col-xs-5">Recipe Finder
      </div> -->
      <a class="create-recipe-button btn btn-default col-xs-6" href="/#/create">
        Add a Recipe
      </a>
      <button ng-click="toggleFinder()" data-status="open" class="hide-finder-button btn btn-default col-xs-6">
        Toggle Finder
      </button>
      <!-- <button ng-click="clickMe()"></button> -->
    </div>

    <div class="row">
      <button class="btn btn-primary col-xs-12" ng-click="submitParams()">Submit</button>
    </div>

    <div class="row">
      <!-- the whole filter section -->
      <div class="filter col-xs-12 col-sm-7">

        <!-- keyword search -->
        <form ng-submit="moreKeyword()" class="filter-keyword-wrapper row">
          <div class="filter-tags col-xs-12">
            <div class="filter-tags-heading">Search for:</div>
            <div class="keyword-collection">
              <!-- list of keywords -->
              <div ng-click="lessKeyword($index)" ng-repeat='keyword in search_parameters.keywords track by $index' class='filter-tag'>
                {{ keyword }}
                <!-- <i class='fa fa-times'></i> -->
                <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              </div>
            </div>
          </div>
          <!-- keyword input -->
          <input type="text" class="input-sm filter-keyword-search col-xs-10" placeholder="Search by Keyword / Ingredient(s)" ng-model="addKeyword">
          <button type="submit" class="add-keyword-button btn btn-default col-xs-2">Add</button>
        </form>

        <!-- filter by meals -->
        <div class="filter-meals-wrapper row">
          <div class="filter-meals-heading col-xs-12"> <i class="fa fa-cutlery"></i> Meals 
          </div>
          <div class="filter-meals-selection col-xs-12">
            <div class="row row-condensed">
              <div ng-repeat="meal in meals" class="col-xs-4">
                <label class="filter-meals-select col-xs-offset-1 col-xs-10 pull-left">
                  {{ meal.name }} <input class="checkbox pull-right filter-check-checkbox" type="checkbox" name="selectedMeals[]" value="{{ meal.name }}" ng-checked="select_meals.indexOf(meal) > -1" ng-click="toggleMeals(meal.category_id)">
                </label>
              </div>
            </div>
          </div>
        </div>

        <!-- filter by time -->
        <div class="filter-time-wrapper row">
            <label class="filter-time-heading col-xs-offset-5 co-xs-4" for="amount"><i class="fa fa-clock-o"></i> Timeframe 
              <input class="filter-time-range" type="text" id="amount" readonly style="border:0">
            </label>
          <div class="filter-time-scroll col-xs-12">
            <p>
            </p>
            <div id="slider-range"></div>
          </div>
        </div>

        <!-- filter by cuisine -->
        <div class="filter-check-wrapper row">
          <div class="filter-check-heading col-xs-offset-4 col-xs-4"><i class="fa fa-globe"></i> Cuisines 
          </div>
          <div class="col-xs-offset-3 col-xs-1">
            <button class="filter-check-button btn btn-default" ng-click="cuisineCollapsed = !cuisineCollapsed"><i class="pull-up glyphicon" ng-class="{'glyphicon-chevron-down': cuisineCollapsed, 'glyphicon-chevron-up': !cuisineCollapsed}"></i></button>
          </div>
          <div class="filter-check-selection col-xs-12">
            <div class="row row-condensed">
              <div ng-repeat="cuisine in cuisines" class="col-xs-4">
                <label class="filter-check-select">
                  {{ cuisine.name }} <input class="filter-check-checkbox" type="checkbox" name="selectedCuisines[]" value="{{ cuisine.name }}" ng-checked="select_cuisines.indexOf(cuisine) > -1" ng-click="toggleCuisines(cuisine.category_id)">
                </label>
              </div>
            </div>
            <hr>
            <div collapse="cuisineCollapsed">
              <div class="well well-lg row">
                <div ng-repeat="cuisine in cuisines_hidden" class="col-xs-4">
                  <label class="filter-check-select">
                    {{ cuisine.name }} <input class="filter-check-checkbox" type="checkbox" name="selectedCuisines[]" value="{{ cuisine.name }}" ng-checked="select_cuisines.indexOf(cuisine) > -1" ng-click="toggleCuisines(cuisine.category_id)">
                  </label>
                </div>
              </div> 
            </div>
          </div>
        </div>

        <!-- filter by occasion -->
        <div class="filter-check-wrapper row">
          <div class="filter-check-heading col-xs-offset-4 col-xs-4"><i class="fa fa-birthday-cake"></i> Occasions
          </div>
          <div class="col-xs-offset-3 col-xs-1">
            <button class="filter-check-button btn btn-default" ng-click="occasionCollapsed = !occasionCollapsed"><i class="pull-up glyphicon" ng-class="{'glyphicon-chevron-down': occasionCollapsed, 'glyphicon-chevron-up': !occasionCollapsed}"></i></button>
          </div>
          <div class="filter-check-selection col-xs-12">
            <div class="row row-condensed">

              <div ng-repeat="occasion in occasions" class="col-xs-4">
                <label class="filter-check-select">
                  {{ occasion.name }} <input class="filter-check-checkbox" type="checkbox" name="selectedOccasions[]" value="{{ occasion.name }}" ng-checked="select_occasions.indexOf(occasion) > -1" ng-click="toggleOccasions(occasion.category_id)">
                </label>
              </div>
            </div>
            <hr>
            <div collapse="occasionCollapsed">
              <div class="well well-lg row">
                <div ng-repeat="occasion in occasions_hidden" class="col-xs-4">
                  <label class="filter-check-select">
                    {{ occasion.name }} <input class="filter-check-checkbox" type="checkbox" name="selectedOccasions[]" value="{{ occasion.name }}" ng-checked="select_occasions.indexOf(occasion) > -1" ng-click="toggleOccasions(occasion.category_id)">
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- filter by course -->
        <div class="filter-check-wrapper row">
          <div class="filter-check-heading col-xs-offset-4 col-xs-4"><i class="fa fa-glass"></i> Courses
          </div>
          <div class="col-xs-offset-3 col-xs-1">
            <button class="filter-check-button btn btn-default" ng-click="courseCollapsed = !courseCollapsed"><i class="pull-up glyphicon" ng-class="{'glyphicon-chevron-down': courseCollapsed, 'glyphicon-chevron-up': !courseCollapsed}"></i></button>
          </div>
          <div class="filter-check-selection col-xs-12">
            <div class="row row-condensed">
              <div ng-repeat="course in courses" class="col-xs-4">
                <label class="filter-check-select">
                  {{ course.name }} <input class="filter-check-checkbox" type="checkbox" name="selectedCourses[]" value="{{ course.name }}" ng-checked="select_courses.indexOf(course) > -1" ng-click="toggleCourses(course.category_id)">
                </label>
              </div>
            </div>
            <hr>
            <div collapse="courseCollapsed">
              <div class="well well-lg row">
                <div ng-repeat="course in courses_hidden" class="col-xs-4">
                  <label class="filter-check-select">
                    {{ course.name }} <input class="filter-check-checkbox" type="checkbox" name="selectedCourses[]" value="{{ course.name }}" ng-checked="select_courses.indexOf(course) > -1" ng-click="toggleCourses(course.category_id)">
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>

    <!-- search results -->
      <div class="filter-results col-xs-12 col-sm-5">
        <div ng-repeat="recipe in recipes" class="filter-result">
          <div class="col-xs-2">
            <a href="/#/recipes/{{ recipe.id }}"><img class="filter-result-image" src="{{ recipe.images[0] }}"></a>
          </div>
          <div class="filter-result-info col-xs-10">
            <a href="/#/recipes/{{ recipe.id }}"><p class="filter-result-title">{{ recipe.title }}</p></a>
            <a href="{{recipe.author.profile_url}}"><p class="filter-result-author">By {{ recipe.author.username }}</p></a>
            <i class="fa fa-heart-o pull-right"></i>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<main-footer></main-footer>
