<main-nav-bar></main-nav-bar>

<div class="main-body">
  <div class="recipe-body container">

    <div class="recipe-button-row row">
      <button class="col-xs-offset-2 col-xs-2 btn btn-danger recipe-back-button">Back <i class="fa fa-step-backward"></i></button>
      <button class="col-xs-offset-1 col-xs-2 btn btn-warning recipe-back-button">Save <i class="fa fa-bookmark-o"></i></button>
      <button class="col-xs-offset-1 col-xs-2 btn btn-success recipe-back-button">Shopping <i class="fa fa-shopping-cart"></i></button>
    </div>

    <div class="row">
      <!-- <div class="recipe-image col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-6 col-md-5"> -->
      <div class="recipe-profile col-xs-offset-1 col-xs-10 col-sm-5">
        <img class="recipe-image" ng-src="{{ images[3] }}" alt="Recipe image">
        <!-- assets/recipedb-default-img.png -->
      </div>
      <!-- </div> -->
      <div class="recipe-info col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-5">
        <div class="recipe-div1 row">
          <p class="recipe-title">{{ name }}</p>
          <p class="recipe-author">By {{ author }}</p>
        </div>
        <div class="recipe-div2 row">
          <p class="recipe-description-heading">Description:</p>
          <p class="recipe-description">{{ description }}</p>
          <p class="recipe-servings">~ {{ serving_size }} {{ serving_type }}</p>
        </div>
        <div class="recipe-div3 row">
          <p class="recipe-ingredients">Ingredients
            <ul>
              <li ng-repeat="ingredient in ingredients" class="recipe-ingredient">{{ ingredient }}</li>
            </ul>
          </p>
        </div>
        <div class="recipe-div4 row">
          <div class="recipe-preptime-heading col-xs-4">Preparation:<br>
            <p class="recipe-preptime"> {{ prep_time }}</p> mins
          </div>

          <div class="recipe-cooktime-heading col-xs-4">Cooking:<br> 
            <p class="recipe-cooktime"> {{ cook_time }}</p> mins
          </div>

          <div class="recipe-resttime-heading col-xs-4">Rest:<br>
            <p class="recipe-resttime">{{ rest_time }}</p> mins
          </div>
        </div>

        <div class="recipe-div5 row">
          <p class="recipe-directions">Directions
            <ul>
              <li ng-repeat="instruction in instructions" class="recipe-step">{{ instruction }}</li>
            </ul>
          </p>
        </div>
      </div>
    </div>

  </div>
</div>

<main-footer></main-footer>