@import "variables";

.jumbo.row{
  background: white;
  position: absolute;
  width: calc(100vw - 30px);
  height: calc(100vh - 200px);
  // border-radius: 10px;
  // border-right: 2px solid $color-raisin;
  // border-left: 2px solid $color-raisin;
  margin: 50px 0 0 0;
  padding: 0;
  overflow: hidden;

  .col-xs-12 {
    padding: 0;
    .splash-item {
      padding: 0;
      margin: 0;
      display: inline-block;
      overflow: hidden;
      // opacity: 0.9;
      .splash-animate {
        height: 100%;
        width: 100%;
      }
    }


    // .splash-item.ng-move {
    //   -webkit-transition:5s linear all;
    //   -moz-transition:5s linear all;
    //   -o-transition:5s linear all;
    //   transition:5s linear all;
    //   opacity:0;
    // }
  }
}

.login-modal-title.modal-header.row,
.login-modal-inputs.modal-body.row,
.registration-modal-title.modal-header.row,
.registration-modal-inputs.modal-body.row {
  margin-left: 0;
  margin-right: 0;
}

.search-wrapper.col-xs-12 {
  // margin: -260px 0;
  background: transparent;
  padding: 0 7%;
  .recipe-search {
    box-shadow: 1px 2px 2px #000;
    // font-size: 17px;
    text-align: center;
    color: $color-raisin;
    &:focus {
      outline: none;
    }
  }
  .btn.btn-default {
    // z-index: 1;
    // padding: 10px 15px;
    height: 46px;
    box-shadow: 1px 2px 2px #000;
    .fa.fa-search {
      font-size: 24px;
      z-index: 1;
      color: $color-raisin;
      &:focus {
        color: $color-airbnb-red;
      }
    }
  }
}


.home-links {
  // background: $color-airbnb-red;
  // padding: 175px 0;
  margin: calc(((100vh - 400px)/2) + 100px) 0;
  .other-links-separator {
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 24px;
    // margin: 5px;
    font-style: italic;
    p {
      text-shadow: 1px 2px 2px #000;
      margin: 0;
      padding: 0;
    }
  }
  .home-other-links {
    // margin: -100px;
    .other-links-buttons {
      // padding: 0 60px;
    }
    .home-recipe-finder,
    .home-myrecipes {
      color: $color-raisin;
      z-index: 1;
      font-size: 18px;
      border: 1px solid $color-airbnb-buttonbordergrey;
      box-shadow: 1px 2px 2px #000;
      &:focus {
        outline: none;
        color: $color-airbnb-red;
      }
    }
  }
}

.splash-item.ng-enter {
  transition: 3s;
  opacity: 0;
}

.splash-item.ng-enter-active {
  opacity: 0.9;
}

@media (max-width: 768px) {
  .home-links .home-other-links .home-recipe-finder,
  .home-links .home-other-links .home-myrecipes {
    font-size: 14px;
  }
  button.home-recipe-finder .fa.fa-search {
    font-size: 14px;
    z-index: 1;
    color: $color-raisin;
  }
}

@media (min-width: 768px) {
  
}

@media (min-width: 992px) {
  
}

@media (min-width: 1200px) {
  
}