@import "variables";

.jumbo.row{
  background: white;
  height: 400px;
  // border-radius: 10px;
  // border-right: 2px solid $color-raisin;
  // border-left: 2px solid $color-raisin;
  margin: 50px 0 0 0;
  padding: 0;
  overflow: hidden;

  .col-xs-12 {
    padding: 0;
    .splash-item {
      padding: 0;
      margin: 0;
      display: inline-block;
      overflow: hidden;
      opacity: 0.9;
    }
    .splash-item.ng-move {
      -webkit-transition:5s linear all;
      -moz-transition:5s linear all;
      -o-transition:5s linear all;
      transition:5s linear all;
      opacity:0;
    }
  }
}

.search-wrapper.col-xs-12 {
  margin: -220px 0;
  background: transparent;
  padding: 0 7%;
  .recipe-search {
    // font-size: 17px;
    text-align: center;
    color: $color-raisin;
    &:focus {
      outline: none;
    }
  }
  .btn.btn-default {
    // z-index: 1;
    // padding: 10px 15px;
    height: 46px;
    .fa.fa-search {
      font-size: 24px;
      z-index: 1;
      color: $color-raisin;
    }
  }
}

.splash-animate.ng-enter {
  transition: 3s;
  opacity: 0;
}

.splash-animate.ng-enter-active {
  opacity: 1;
}

@media (max-width: 768px) {
  
}

@media (min-width: 768px) {
  
}

@media (min-width: 992px) {
  
}

@media (min-width: 1200px) {
  
}