@import "variables";

.body {
  background: white;
  // background: $texture3;
  position: relative;
  min-height: 100%;
}

.nav-header {
  height: 60px;
}

.main-body {
  padding: 65px 0 40px 0;
  width: 100%;
  min-height:640px;
}

.navbar-background {
  background: white;
  box-shadow: 2px 2px 15px #111;
  // opacity: 0.5;
  // border: 1px solid $color-light-yellow;
}

.nav-header .navbar-logo {
  font-family: $font-title;
  opacity: 1;
  color: $color-raisin;
  display: inline-block;
  text-decoration: none;
  font-size: 32px;
  &:hover{
    color: $color-airbnb-red;
  }
}


.nav-dropdown-lines {
  border: 1px solid $color-raisin;
}

.nav-index {
  padding: 10px 0 35px;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: #888;
  height: 30px;
  margin: 0;
  // border-bottom: 4px solid $color-raisin;
  // border-left: 4px solid $color-raisin;
  // border-right: 4px solid $color-raisin;
  &:hover {
    font-size: 105%;
    border-bottom: 4px solid white;
    border-right: 4px solid white;
    border-left: 4px solid white;
    // border-bottom-left-radius: 5px;
    // border-bottom-right-radius: 5px;
    background: white;
  }
}

.nav-tabs-text {
  color: $color-raisin;
  font-family: $font-items;

}

.nav-header .nav-form {
  margin: 0;
  margin-top: 9px;
  // margin-bottom: 7px;
  display: inline-block;
  padding: 0;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.fa.fa-home {
  font-size: 40px;
}

.nav-form .form-group .form-control{
  // padding: 0 0 0 5px;
  border: 1px solid $color-light-yellow;
  margin: 5px;
  z-index: 1;
  display: inline-block;
  width: 84px;
  &:focus {
    width: 180px;
  }
}

.nav-form .form-group {
  display: inline-block;
  .form-control {
    color: $color-airbnb-font;
    border: 2px solid $color-raisin;
    // padding-bottom: 2px;
    &:focus {
      // background: $color-airbnb-red;
      color: $color-raisin;
      // border: 1px solid transparent;
      outline: 0;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $color-airbnb-red;
              box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $color-airbnb-red;
    }
  }
}

.nav-icons {
  position: absolute;
  right: 15px;
  top: 17px;
  .dropdown-menu {
    background: $color-airbnb-buttongrey;
    float: right;
    position: fixed;
    top: 8%;
    right: 0;
    left: inherit;
  }
  .nav-icon-text {
    // font-size: 18px;
    float: right;
    // color: $color-raisin;
    display: inline-block;
    // font-family: $font-title;
    margin:0 0 0 15px;
    // z-index: -1;
    // &:hover {
    //   color: $color-airbnb-red;
    //   text-decoration: none;
    // }
    .fa.fa-heart,
    .fa.fa-search,
    .fa.fa-shopping-cart,
    .fa.fa-user {
      color: $color-raisin;
      font-size: 20px;
      // float: right;
      margin:0 2px;
      z-index: -1;
      &:hover {
        color: $color-airbnb-red;
        text-decoration: none;
      }
      p {
        font-family: $font-title;
        display: inline-block;
      }
    }
    .caret {
      color: $color-raisin;
      font-size: 20px;
      padding: 10px 0;
    }
  }
  // .fa.fa-heart,
  // .fa.fa-sliders,
  // .fa.fa-shopping-cart,
  // .fa.fa-user {
  //   color: $color-raisin;
  //   font-size: 24px;
  //   // float: right;
  //   // margin:0 0 0 10px;
  //   z-index: -1;
  //   &:hover {
  //     color: $color-airbnb-red;
  //     text-decoration: none;
  //   }
  // }
}

.registration-modal-title {
  text-align: center;
  font-size: 12px;
}
.registration-modal-inputs {
  font-size: 16px;
  .input-fields {
    text-align: center;
  }
}
.registration-modal-button.btn {
  text-align: center;
  font-size: 16px;
  background: $color-airbnb-red;
}

.login-modal-title {
  text-align: center;
  font-size: 12px;
}
.login-modal-inputs {
  font-size: 16px;
  .input-fields {
    text-align: center;
  }
}
.login-modal-button.btn {
  text-align: center;
  font-size: 16px;
  background: $color-airbnb-red;
}

.container.footer-background {
  background: white;
  width: 100%;
  box-shadow: 2px 2px 15px #111;
  // border: 1px solid $color-light-yellow;
  height: 35px;
  position: fixed;
  bottom: 0;
  z-index: 3;
  // padding-top: 5px;
  // margin: 60px 0 0 0;
}

.footer-disclaimer {
  font-family: $font-airbnb;
  color: $color-raisin;
  font-size: 14px;
}


@media (max-width: 768px) {
  .nav-header .navbar-logo {
    // font-size: 25px;
    margin: 10px 10px 0 0;
    padding: 0;
  }
  .nav-tabs-text {
    font-size: 11px; 
  }
  .course-item {
    height: 100px;
    width: 100px;
    margin: 10px 0 0 10px;
    padding: 13px;
  }
  .footer-disclaimer {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  .nav-header .navbar-logo {
    // font-size: 30px;
    margin: 10px 10px 0 0;
    padding: 0;
  }
  .nav-tabs-text {
    font-size: 16px; 
  }
  .course-item {
    height: 120px;
    width: 120px;
    margin: 20px 0 0 20px;
    padding: 24px 0;
  }
  .footer-disclaimer {
    font-size: 16px;
  }
}

@media (min-width: 992px) {
  .nav-header .navbar-logo {
    // font-size: 35px;
    // margin: 5px 10px 0 0;
    padding: 0;
  }
  .nav-tabs-text {
    font-size: 19px; 
  }
  .course-item {
    height: 140px;
    width: 140px;
    margin: 30px 0 0 30px;
    padding: 40px 0;
  }
}

@media (min-width: 1200px) {
  .course-item {
    height: 150px;
    width: 150px;
    margin: 40px 0 0 40px;
    padding: 40px 0;
  }
}