.finder-body {
  background: white;
  height: 580px;
  border-radius: 10px;
  padding: 20px;
}

.recipe-profile {
  background: #666;
}

@media (max-width: )

@media (max-width: 768px) {
  .recipe-profile {
    width: 220px;
    height: 220px;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}