$color-light-yellow: #FFF888;
$color-dirt-yellow: #E8AC06;
$color-orange: #FF8508;
$color-red: #E83505;
$color-raisin: #5C0B22;
$texture-picnic-pattern: linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ), image-url('lunch_1x.jpg');
$texture-food-pattern: linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
), image-url('food.png');
$texture-marble-pattern: image-url('congruent_outline.png');
$texture-wood-pattern: linear-gradient(
      rgba(0.2, 0.2, 0.2, 0.1), 
      rgba(0.2, 0.2, 0.2, 0.1)
), image-url('retina_wood.png');

// $font4: 'Yellowtail', cursive;
// $font4: 'Bad Script', cursive;
// $font4: 'Marck Script', cursive;
$font-items: 'Bitter', serif;
// $font4: 'Lobster', cursive;
// $font4: 'Special Elite', cursive;
$font-title: 'Satisfy', cursive;
// $font4: 'Damion', cursive;
$font-footer: 'Architects Daughter', cursive;
// $font4: 'Cookie', cursive;

.finder-body {
  // background: white;
  background: $texture-marble-pattern;
  // height: 580px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 8px 8px 25px #111;
}