@import "variables";

.recipe-body {
  // background: white;
  background: white;
  // height: 580px;
  // border-radius: 10px;
  padding: 20px;
  // box-shadow: 8px 8px 25px #111;
}

.recipe-button-row.row {
  margin: 0 0 20px 0;
}

.recipe-back-button {
  display: inline-block;
  padding: 0 3%;
  // box-shadow: 2px 2px 5px #111;
}

div.recipe-profile {
  // background: image-url('recipedb-default-img.png') no-repeat;
  // text-align: center;
  background: white;
  // border: 2px solid black;
  // margin: 0;
  // padding: 0;
  overflow: hidden;
  padding:0 48px;
  margin: 0;
  display: inline-block;
  // margin: 10px 0 0 0;
}

.recipe-default-image {
  width: 240px;
  padding: 0 0 0 5%;
}

.recipe-less-image {
  width: 150px;
  padding: 0 0 0 0%;
}

.recipe-more-image {
  width: 150px;
  padding: 0 0 0 0%;
}

.recipe-info {
  // border: 1px dotted black;
  display: inline-block;
  // background: $color-light-yellow;
  border-radius: 10px;
  background: $texture-notebook-pattern;
  // margin: 0 10px 0 0;
}

.recipe-div1 {
  border-bottom: 1px dotted black;
  padding: 0 0 0 15px;
  .recipe-title {
    font-size: 40px;
    display: inline-block;
    // border-bottom: 1px dotted black;
  }
  .recipe-author {
    font-size: 11px;
    display: inline-block;
    // border-bottom: 1px dotted black;
    .recipe-author-name {
      color: $color-airbnb-red;
      font-weight: bold;
      font-size: 14px;
    }
  }
}

.recipe-div2 {
  border-bottom: 1px dotted black;
  margin: 7px 0 0 0;
  padding: 0 0 0 15px;
  .recipe-description-heading {
    font-size: 16px;
    display: inline-block;
    font-weight: bold;
  }
  .recipe-description {
    font-size: 12px;
    display: inline-block;
  }
  .recipe-servings {
    font-size: 14px;
    display: inline-block;
  }
}

.recipe-div3 {
  border-bottom: 1px dotted black;
  margin: 7px 0 0 0;
  padding: 0 0 0 15px;
  .recipe-ingredients {
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
  }
  .recipe-ingredient {
    display: inline-block;
    font-size: 14px;
    padding: 0 10px 0 10px;
    // border-right: 1px solid black;
    border-left: 1px solid black;
  }
}

.recipe-div4 {
  border-bottom: 1px dotted black;
  margin: 7px 0 0 0;
  .recipe-preptime-heading,
  .recipe-cooktime-heading,
  .recipe-resttime-heading {
    display: inline-block;
    font-size: 12px;
    .recipe-preptime,
    .recipe-cooktime,
    .recipe-resttime {
      display: inline;
      font-size: 20px;
      color: $color-dirt-yellow;
      font-weight: bold;
      font-family: $font-timing;
      // text-shadow: 1px 1px 1px #111;
      text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000; 
    }
  }
}

.recipe-div5 {
  // border-bottom: 1px dotted black;
  margin: 7px 0 0 0;
  padding: 0 0 0 15px;
  .recipe-directions {
    font-size: 16px;
    font-weight: bold;
  }
  .recipe-step {
    font-size: 14px;
    margin: 3px 0;
  }
}

@media (max-width: 768px) {
  .recipe-profile {
    // height: 250px;
  }
  .recipe-info {
    // height: 50px;
    margin: 20px 0;
  }
}

@media (min-width: 420px) {
  .recipe-profile {
    // height: 390px;
  }
  .recipe-info {
    
  }
}

@media (min-width: 768px) {
  .recipe-profile {
  //   width: 320px;
    // height: 280px;
  }
  .recipe-info {
    
  }
}

@media (min-width: 992px) {
  .recipe-profile {
    // width: 370px;
    // height: 400px;
    // margin: 0 10px 0 10px;
  }
  .recipe-info {
    
  }
}

@media (min-width: 1200px) {
  .recipe-profile {
    // width: 420px;
    // height: 420px;
  }
}