$color-airbnb-font: #565a5c;
$color-airbnb-red: #ff5a5f;
$color-airbnb-grey: #dce0e0;
$color-airbnb-buttongrey: #edefed;
$color-airbnb-buttonbordergrey: #dce0e0;
$color-light-yellow: #FFF888;
$color-dirt-yellow: #E8AC06;
$color-orange: #FF8508;
$color-red: #E83505;
$color-raisin: #5C0B22;
$texture-picnic-pattern: linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ), image-url('lunch_1x.jpg');
$texture-food-pattern: linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
), image-url('food.png');
$texture-marble-pattern: linear-gradient(
      rgba(0.2, 0.2, 0.2, 0.45), 
      rgba(0.2, 0.2, 0.2, 0.45)
), image-url('congruent_outline.png');
$texture-wood-pattern: linear-gradient(
      rgba(0.2, 0.2, 0.2, 0.1), 
      rgba(0.2, 0.2, 0.2, 0.1)
), image-url('retina_wood.png');
$texture-notebook-pattern: linear-gradient(
      rgba(0.1, 0.1, 0.1, 0.1), 
      rgba(0.1, 0.1, 0.1, 0)
), image-url('notebook_@2X.png');
$default-image: image-url('recipedb-default-img.png') no-repeat;

// $font4: 'Yellowtail', cursive;
// $font4: 'Bad Script', cursive;
// $font4: 'Marck Script', cursive;
$font-items: 'Bitter', serif;
// $font4: 'Lobster', cursive;
// $font4: 'Special Elite', cursive;
$font-title: 'Satisfy', cursive;
$font-timing: 'Damion', cursive;
$font-footer: 'Architects Daughter', cursive;
// $font4: 'Cookie', cursive;
$font-airbnb: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;


