<div ng-include="mainNavBar"></div>

<div class="main-body container">

  <div class="jumbo row">
    <img ng-repeat="recipe in recipes" class="splash-item img-responsive  col-xs-3 col-sm-2 col-lg-1" ng-src="{{ recipe.images[0] }}">
  </div>

  <div class="row">
    <form class="search-wrapper col-xs-12">
      <input class="recipe-search col-xs-offset-2 col-xs-8" placeholder="What do you want to cook?">
      <button class=""><i class="fa fa-search"></i></button>
    </form>
  </div>

</div>

<div ng-include="mainFooter"></div>