<div ng-include="mainNavBar"></div>

<div class="main-body container">

  <div class="jumbo row">
    <div ng-repeat="recipe in recipes">
      <img class="splash-item img-responsive  col-xs-3 col-sm-2 col-lg-1" ng-src="{{ recipe.images[0] }}">
      <img class="splash-item img-responsive  col-xs-3 col-sm-2 col-lg-1" ng-src="{{ recipe.images[1] }}">
    </div>
  </div>

  <div class="row">
    <form class="search-wrapper">
      <input class="recipe-search col-xs-offset-1 col-xs-9" placeholder="What do you want to cook?">
      <button class=""><i class="fa fa-search"></i></button>
    </form>
  </div>

</div>

<div ng-include="mainFooter"></div>