<div ng-include="mainNavBar"></div>

<div class="main-body container">

  <div class="container row">
    <a class="nav-tabs-text" href=""><div class="col-xs-3 nav-index">Courses</div></a>
    <a class="nav-tabs-text" href=""><div class="col-xs-3 nav-index">Cuisines</div></a>
    <a class="nav-tabs-text" href=""><div class="col-xs-3 nav-index">Ingredients</div></a>
    <a class="nav-tabs-text" href=""><div class="col-xs-3 nav-index">Occasions</div></a>
  </div>

  <div class="jumbo">
    <div class='course-item'>
      <img>
      <p class="course-caption">Appetizers and Snacks</p>
    </div>
    <div class='course-item'>
      <img>
      <p class="course-caption">Appetizers and Snacks</p>
    </div>
    <div class='course-item'>
      <img>
      <p class="course-caption">Appetizers and Snacks</p>
    </div>
    <div class='course-item'>
      <img>
      <p class="course-caption">Appetizers and Snacks</p>
    </div>
  </div>

</div>

<div ng-include="mainFooter"></div>