<div ng-include="mainNavBar"></div>

<div class="main-body container">
  <div class="finder-body row">
    <div class="recipe-profile col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-6 col-md-5">
      <img>
    </div>
    <div class="recipe-info col-xs-12 col-sm-6 col-md-7">
      <div class="recipe-div1">
        <p class="recipe-title">Title</p>
        <p class="recipe-author">By Author</p>
      </div>
      <p class="recipe-servings">Servings</p>
      <p class="recipe-description">Description</p>
      <p class="recipe-ingredients">Ingredients
        <ul>
          <li class="recipe-ingredient"></li>
          <li class="recipe-ingredient"></li>
        </ul>
      </p>
      <p class="recipe-preptime">Preparation Time</p>
      <p class="recipe-cooktime">Cooking Time</p>
      <p class="recipe-resttime">Rest Time</p>
      <p class="recipe-directions">Directions
        <ul>
          <li class="recipe-step"></li>
          <li class="recipe-step"></li>
        </ul>
      </p>
      
      <p class="recipe-"></p>
    </div>
  </div>
</div>

<div ng-include="mainFooter"></div>