<!DOCTYPE html>
<html ng-app="recipedb">
<head>
  <title>RecipedbMe</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-view>

<%= yield %>

</body>
</html>
